.blog__header{
    display: flex;
}


.blog__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:center;

}

.blog__header-content h1 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 70px;
    line-height: 1.1;
    letter-spacing: -0.05em;
    color: white;
    text-align: center;

}


.blog__header {
  background-image: url('../../assets/museumUpdated.png');
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  min-height: 600px;
}

/* Adjust for tablets */
@media (max-width: 1050px) {
  .blog__header {
    min-height: 400px;

  }
}

/* Adjust for mobile devices */
@media (max-width: 650px) {
  .blog__header {
    min-height: 300px;
    
  }
}

